@{
    ViewBag.Title = "CURT Admin - Adding New Part";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form_left #buttons #btnContinue{
        background: url('/Content/img/altButton.png');
        background-repeat: no-repeat;
        width: 180px;
        height: 49px;
        border: none;
        cursor: pointer;
    }
</style>
<div id="content_container">
    <h2>Add New Part</h2>

    @if (ViewBag.error_messages != null && ViewBag.error_messages.Count > 0) {
        <div style="padding:5px;border:2px solid #343434;background:#827d70;width:60%;margin-bottom: 20px">
            <p style="color:whitesmoke;text-decoration:underline;font-size:14pt;margin-left:40px">Please fix the following errors:</p>
            <ul style="list-style: none">
                @foreach (string message in ViewBag.error_messages) {
                    <li>- @message</li>
                }
            </ul>
        </div>
    }
    
    <form action="@HttpContext.Current.Request.Url.AbsoluteUri" method="post" class="form">
        <div class="form_left">
            <label for="partID">
                Part Number
                <input type="text" name="partID" id="partID" required="required" placeholder="Enter the part number..." />
            </label>

            <label for="shortDesc">
                Short Part Description
                <input type="text" name="shortDesc" id="shortDesc" required="required" placeholder="Enter a brief description of the part..." />
            </label>

            <label for="status">
                Part Status
                <select name="status" id="status">
                    <option value="600">600 - Not Yet Available</option>
                    <option value="800" selected="selected">800 - Active</option>
                    <option value="900">900 - While Supplies Last</option>
                    <option value="999">999 - Discontinued</option>
                </select>
            </label>

            <label for="oldPartNumber">
                Old Part Number
                <input type="text" name="oldPartNumber" id="oldPartNumber" placeholder="Enter the old CURT part number..." />
            </label>

            <label for="UPC">
                UPC
                <input type="text" name="UPC" id="UPC" placeholder="Enter UPC..." required />
            </label>

            <label for="priceCode">
                Price Code
                <input type="text" name="priceCode" id="priceCode" placeholder="Enter price code..." />
            </label>

            <label for="classID">
                Product Class
                <select name="classID" id="classID">
                    <option value="0">- Select Class -</option>
                    @foreach (CurtAdmin.Class c in ViewBag.classes) {
                        <option value="@c.classID">@c.class1</option>
                    }
                </select>
            </label>
            <label for="featured">
                Featured
                <input type="checkbox" name="featured" id="featured" value="true" />
            </label>
            <label for="PartTypeID">
                ACES Part Type ID
                <input type="text" id="PartTypeID" value="" placeholder="Choose an ACES Part Type" />
                <input type="hidden" name="ACESPartTypeID" id="ACESPartTypeID" value="" />
            </label>

            <div id="buttons">
                <input type="submit" name="btnContinue" id="btnContinue" value="Save &amp; Continue" />
                <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
                <input type="reset" name="btnReset" id="btnReset" value="Clear" />
            </div>
        </div>
    </form>
</div>
<script src="/Scripts/admin/Product/Edit.js"></script>