@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p>This form will send as many text messages as you want to the specified recipient with the message that you specify. Be a little nice!</p>

        <p style="color:Red">Sorry guys, have to turn it off. My moral integrity was dwindling.</p>
        <!--form action="/Testing/SpamChris" method="get">
            <label for="count">
                Number of times to send message:
                <input type="text" name="count" id="count" placeholder="10" />
            </label>
            <br />
            <label for="recip">
                Recipient
                <select name="recip" id="recip">
                    <option value="1">Chris Cowan</option>
                    <option value="2">PJ McGinley</option>
                    <option value="3">TC Follansbee</option>
                    <option value="4">Nichole Myers</option>
                    <option value="5">Travis Mai</option>
                </select>
            </label>


            <br />
            <label for="msg">
                Message<br />
                <textarea rows="4" cols="50" name="msg" id="msg"></textarea>
            </label>
            <br />
            <input type="submit" name="submit" id="submit" value="Send" />
            <input type="reset" name="reset" id="reset" value="Reset" />
        </form-->
    </div>
</body>
</html>
