@{
    ViewBag.Title = "ACES Import";
    ViewBag.navigation = "_WebsiteNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = ViewBag.vcount ?? 0;
}
<div id="content_container">
    <h2 id="index_title">ACES Data Import</h2>
    @if(count > 0) {
        <text>There are @count entries.</text>
    }
    <a href="/ACESImport/Import">Run</a>
</div>
