@using CurtAdmin.Models.B2b
@{
    ViewBag.Title = "Add Video";
    Layout = "~/Views/Shared/_Layout.cshtml";

    CurtAdmin.B2BLesson lesson = ViewBag.lesson ?? new CurtAdmin.B2BLesson();
   

}

<script type="text/javascript" src="@Url.Content("~/Scripts/fileiframe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/selectfile.js")"></script>
<div id="content_container">
    <h2>Add New Video</h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    <form action="/B2B/AddVideo/@lesson.id" method="post" class="form_left">
        <label for="title">
            Video Title
            <input type="text" name="title" id="title" placeholder="Enter the title of the video" required />
        </label>

        <!-- Loop through videoType file formats -->
            Format:
            <label for="text">
                Video URL
                <input type="text" name="text" id="text" placeholder="Copy/Paste video url from file manager." />
            </label>
       <!-- end of loop -->

        <label for="inactive">
            Inactive?
            <input type="checkbox" name="inactive" id="inactive"/>
        </label>

        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Add" />
            <input type="reset" name="btnReset" id="btnReset" value="Clear" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnSubmit').live('click', function () {
            var errors = 0;
            $.each($('input:required'), function (i, input) {
                if ($(this).val().length == 0) { $(this).css('border', '3px inset #bd0100'); errors++; }
            });
            if (errors > 0) {
                showMessage('Please fix the errors outlined in red.');
                return false;
            }
        });
    });
</script>
<div id="file-dialog"></div>