@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string msg = ViewBag.msg;
    if (msg == null)
    {
        msg = "";
    }
}
    <style type="text/css">
    table tbody tr td:nth-child(7){
        text-align: center;
    }
    
    h2{
        float:left;
    }
    
    #addCert, #massUpload{
        float:right;
    }
    
    #massUpload{
        margin-top: 30px;
    }
    #breadcrumbs
    {
        padding:5px;
        margin-left:15px;  
    }
</style>

<div id="content_container">
    <h2>B2B University Management</h2>
    <hr style="border-bottom:1px dotted #343434;clear:both" />
    <!-- Explain what's here (for Chris) -->
    <p>This page is for managing B2B University</p>

    Menu Options:
    <ul>
        <li><a href="/Admin_B2B/ViewCerts">Manage Certificates</a></li>
        <li><a href="/Admin_B2B/ViewUsers">Manage B2B Users</a></li>
    </ul>




