@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content_container">
<h2>Tech Services</h2>
    This page will have tools listed for tech services.
    <ul>
        <li><a href="/techServices/News">Manage Tech News</a></li>
    </ul>
    


</div>
