@{
    ViewBag.Title = "ACES Reporting";
    ViewBag.navigation = "_ACESNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/reports.css" rel="stylesheet" />
<div id="content_container">
    <h2>ACES Reporting</h2>
    <a href="/Report/GenerateACES">Generate Report</a>

    <h2>PIES Reporting</h2>
    <form action="/Report/GeneratePIES" method="post" class="form" id="piesreportform">
        <label for="customerID">
            <input type="number" name="customerID" id="customerID" value="" placeholder="Enter a customer ID (optional)" />
        </label>

        <button id="allpiesparts">All Parts Report</button>

        <span class="orspan">OR</span>

        <input type="text" name="startdate" id="piesdatepicker" value="" placeholder="Enter a Start Date" />

        <input type="submit" value="Generate Report" />
    </form>
</div>
<script src="~/Scripts/admin/reports.js"></script>
