<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Report/")">Reports</a>
        </li>
        <li>
            <a href="@Url.Content("~/ACES/Vehicles")">Vehicles</a>
        </li>
    </ul>
</div>
