<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Blog/")">Posts</a>
        </li>
        <li>
            <a href="@Url.Content("~/BlogCategory/")">Categories</a>
        </li>
        <li>
            <a href="@Url.Content("~/BlogComments/")">Comments</a>
        </li>
    </ul>
</div>
