<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Admin_Blog/")">Posts</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_BlogCategory/")">Categories</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_BlogComments/")">Comments</a>
        </li>
    </ul>
</div>
