<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Admin_ProductCategories/")">Categories</a>
        </li>
        <li class="add">
            <a href="@Url.Content("~/Admin_ProductCategories/Add")">Add Category</a>
        </li>
    </ul>
</div>
