<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Documentation/")">Categories</a>
        </li>
        <li>
            <a href="@Url.Content("~/Documentation/Items")">Items</a>
        </li>
    </ul>
</div>
