<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Admin_File/")">Files</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_FileExt/")">Extensions</a>
        </li>
    </ul>
</div>
