<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Forum/")">Forum Groups</a>
        </li>
        <li>
            <a href="@Url.Content("~/Forum/moderate")">Moderation</a>
        </li>
        <li>
            <a href="@Url.Content("~/Forum/spam")">Spam</a>
        </li>
        <li>
            <a href="@Url.Content("~/Forum/blockedIPs")">Blocked IPs</a>
        </li>
    </ul>
</div>
