<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Lifestyle/")">Lifestyles</a>
        </li>
        <li>
            <a href="@Url.Content("~/Lifestyle/Trailers")">Trailers</a>
        </li>
    </ul>
</div>
