<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Misc/")">Content Types</a>
        </li>
        <li>
            <a href="@Url.Content("~/Misc/VideoTypes")">Video Types</a>
        </li>
        <li>
            <a href="@Url.Content("~/Misc/ImageImport")">Image Import</a>
        </li>
        <li>
            <a href="@Url.Content("~/Misc/UnitsOfMeasure")">Units of Measure</a>
        </li>
    </ul>
</div>
