<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/Admin_Misc/")">Content Types</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Misc/VideoTypes")">Video Types</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Misc/ImageImport")">Image Import</a>
        </li>
        <li>
            <a href="@Url.Content("~/Admin_Misc/UnitsOfMeasure")">Units of Measure</a>
        </li>
    </ul>
</div>
