<div id="websiteNav">
    <ul>
        <li>
            <a href="@Url.Content("~/ACES/")">ACES</a>
        </li>
        <li>
            <a href="@Url.Content("~/Vehicles/")">Non-ACES</a>
        </li>
    </ul>
</div>
