@{
    List<FileInfo> images = ViewBag.images;
}
<link href="/Content/gallerific.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ck.curtmfg.com/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.galleriffic.js" type="text/javascript"></script>

<span id="func_num" style="display: none">@ViewBag.CKEditorFuncNum</span>
<div id="page"> 
	<div id="container">

        <div id="thumbs" class="navigation"> 
			<ul class="thumbs noscript">
                @foreach (FileInfo image in images) {
			        <li> 
				        <a class="thumb" href="/Content/img//uploaded/@(image.Name)" title="@(image.Name)">@image.Name</a> 
			        </li> 
                }
            </ul>
        </div>

        <!-- Start Minimal Gallery Html Containers --> 
        <div id="gallery" class="content"> 
	        <div id="controls" class="controls"></div> 
	        <div class="slideshow-container"> 

		        <div id="slideshow" class="slideshow"></div> 
	        </div> 
        </div> 
        <div style="clear:both"></div>
    </div>
</div>
<script type="text/javascript">
    // We only want these styles applied when javascript is enabled
    $('div.navigation').css({ 'width': '300px', 'float': 'left' });
    $('div.content').css('display', 'block');
    var editor_url;
    var ck_function_num = $('#func_num').text();

    $(document).ready(function () {
        // Initialize Minimal Galleriffic Gallery
        $('#thumbs').galleriffic({
            imageContainerSel: '#slideshow',
            controlsContainerSel: '#controls'
        });

        $('.add_image').live('click', function () { 
            var url = '/Content/img/uploaded/'+$(this).attr('id');
            window.opener.CKEDITOR.tools.callFunction($('#func_num').text(), url, ""); 
            window.close();
        });
    });
</script>