<!-- Page Header -->
<div id="adminHeader">
    <a href="/" id="logoLink">
        <img id="curtLogo" src="/Content/img/curtLogo.png" alt="CURT Manufacturing" /> <span>Web Tools Admin</span>
    </a>
    @Html.Partial("_Search")
</div> <!-- End Header -->