<div id="searchArea">
    @if (Session["userID"] != null && Convert.ToInt32(Session["userID"]) > 0) {
        <span id="userLinks">
            <a href="@Url.Content("~/Account")" title="Account Information">Account Info</a>
            <a href="@Url.Content("~/Authenticate/Logout")" title="Logout">Logout</a>
        </span>
                
        <form action="search" method="post" id="docsSearch">
            <label for="searchTerm">
                <input type="text" name="searchTerm" id="searchTerm" placeholder="Search" autocomplete="off" />
            </label>
            <input type="submit" name="btnSearch" id="btnSearch" value="" />
            <div id="searchResults"><ul></ul></div>
        </form>
    }
</div>