@{
    ViewBag.Title = "ACES Reporting";
    ViewBag.navigation = "_ACESNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content_container">
    <h2 id="index_title">ACES Reporting</h2>
    <a href="/ACES/GenerateReport">Generate Report</a>
</div>