@{
    ViewBag.Title = "CURT Administration - Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.Models.TweetViewModel> tweets = ViewBag.Tweets;
}

<div id="content_container">
    

    <div>
        <h2>@ViewBag.Message</h2>

        <p>You have successfully logged into the CURT Web Resource Administration tool. This is currently under development, so if something breaks or is not displaying the way you would expect it, please e-mail <a href="mailto:websupport@curtmfg.com">Web Support &lt;websupport@curtmfg.com&gt;</a>.</p>

        <p>You can view your account information by click on the link in the top right corner of the screen.</p>

        <p>Please be gentle! =-)</p>
    </div>

        
</div>