@using CurtAdmin.Models.B2b
@{
    ViewBag.Title = "Add Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";


    int catID = 0;
    if(ViewBag.catID != null){
        catID = ViewBag.catID;
    }

}

<script type="text/javascript" src="@Url.Content("~/Scripts/fileiframe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/admin/selectfile.js")"></script>
<div id="content_container">
    <h2>Add New Lesson</h2>

    @if (ViewBag.error.Length > 0) {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }
    <form action="/Admin_B2B/AddLesson/@catID" method="post" class="form_left">
        <label for="title">
            Lesson Name
            <input type="text" name="title" id="title" placeholder="Enter the Name of the Lesson" required />
        </label>

        <label for="text">
            Short Description
            <input type="text" name="text" id="text" placeholder="Enter a short description." required />
        </label>

        <label for="video">
            YouTube Video ID
            <input type="text" name="video" id="video" placeholder="Enter the youtube video" required />
        </label>

        <label for="pdf">
           PDF Path URL - from File Manager (Copy link)
            <input type="text" name="pdf" id="pdf" placeholder="Enter the the URL path to the PDF" required />
        </label>

        <label for="inactive">
            Inactive?
            <input type="checkbox" name="inactive" id="inactive"/>
        </label>

        <div id="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Add" />
            <input type="reset" name="btnReset" id="btnReset" value="Clear" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnSubmit').live('click', function () {
            var errors = 0;
            $.each($('input:required'), function (i, input) {
                if ($(this).val().length == 0) { $(this).css('border', '3px inset #bd0100'); errors++; }
            });
            if (errors > 0) {
                showMessage('Please fix the errors outlined in red.');
                return false;
            }
        });
    });
</script>
<div id="file-dialog"></div>