@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_container">
    <h2>CURT Admin Home</h2>

    <p>Hello @Session["name"],</p>

    <p>Welcome to the CURT Manufacturing Documentation/Project Management/Product...wait, I digress, the CURT Manufacturing Admin. This application will give you the ability to manage who is allowed to view the CURT eCommerce Documentation. It will also list who has access to the Project Management Platform.</p>

    <p>Good luck and stay classy San Diego!</p>

    <p><strong>Alex Ninneman, CURT Web Developer</strong></p>
</div>



