@{
    ViewBag.Title = "MassUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string msg = ViewBag.msg ?? "";
    string path = ViewBag.path ?? "";
    List<string> errors = ViewBag.errors ?? new List<string>();
}

<div id="content_container">
    <h2>Mass Upload</h2>
    
    @if (msg.Length > 0) {
        <p style="color:red; font-weight: bold;">@msg</p>
    }
    
    @if (errors.Count > 0) {
        <ul style="color: Red;">
            @foreach (string e in errors) {
                <li>@e</li>
            }
        </ul>
    }
    
    @if (path.Length > 0) {
        <p style="color:#4bbc00"><a href="@path" title="Download new CSV">Download parsed file.</a></p>
    }

    <p>Upload file must be a XLSX with columns in the order of <strong>Curt Acct #</strong>,<strong>Customer Name</strong>,<strong>Website</strong>,<strong>Location Name</strong>,<strong>Contact First Name</strong>,<strong>Contact Last Name</strong>,<strong>Phone</strong>,<strong>Street</strong>,<strong>City</strong>,<strong>State</strong>,<strong>zip</strong>,<strong>Sales Rep</strong>,<strong>Dealer Tier</strong>,<strong>Dealer Type</strong>,<strong>Parent ID</strong>.</p>
    <form class="form_left" method="post" enctype="multipart/form-data" action="/Customers/MassLoad">
        <label for="dealers">
            Upload File
            <input type="file" name="dealers" id="dealers" placeholder="Upload XLSX" />
        </label>

        <div class="buttons">
            <input type="submit" name="btnSubmit" id="btnSubmit" value="Save" />
        </div>
    </form>
</div>