@{
    ViewBag.Title = "Index";
    ViewBag.navigation = "_MiscNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CurtAdmin.UnitOfMeasure> measures = ViewBag.measures;
}
<style type="text/css">
    table tr td:nth-child(3) {
        text-align: center;
    }
    table tr td:nth-child(3) img{
        height: 65px;
        width: auto;
    }
</style>
<ul id="subNav">
    <li>
        <a href="@Url.Content("~/Misc/AddUnit")" id="addUnitType">Add</a>
    </li>
</ul>
<div id="content_container">
    <h2>Units of Measure</h2>
    <div style="clear:both"></div>

    <table>
        <thead>
            <tr>
                <th>Unit</th>
                <th>Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CurtAdmin.UnitOfMeasure u in measures) {
                <tr id="unitRow:@u.ID">
                    <td>@u.name</td>
                    <td>@u.code</td>
                    <td class="center">
                        <a href="/Misc/EditUnit?id=@u.ID" id="edit_@(u.ID)" class="edit">Edit</a> |
                        <a href="/Misc/DeleteUnit?id=@u.ID" id="delete_@(u.ID)" class="delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="editform" style="display: none;">
    <form class="form_left" action="/Misc/EditUnit" method="post">
        <label for="name">
            Unit:
            <input type="text" id="name" name="name" value="" placeholder="Unit Name" />
        </label>
        <label for="code">
            Code:
            <input type="text" name="code" id="code" value="" placeholder="Code Name" />
        </label>
        <input type="hidden" id="unitID" name="unitID" value="" />
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var unitTable = $('table').dataTable({ "bJQueryUI": true });

        $('#addUnitType').click(function (event) {
            event.preventDefault();
            $('#unitID').attr('value',0);
            $('#name').attr('value', '');
            $('#code').attr('value','');

            $("form.form_left").dialog({
                autoOpen: false,
                height: 560,
                width: 620,
                title: "Add Unit of Measure",
                modal: true,
                buttons: {
                    "Save": function () {
                        var id = $('#unitID').val();
                        var name = $('#name').val();
                        var code = $('#code').val();
                        var bValid = true;

                        if ($.trim(name) == "") bValid = false;
                        if ($.trim(code) == "") bValid = false;

                        if (bValid) {
                            $.post('/Misc/AddUnit', { 'name': name, 'code': code }, function (data) {
                                // remove and re-add row to table
                                var addId = unitTable.fnAddData([
                                        data.name,
                                        data.code,
                                        '<a href="/Misc/EditUnit?id=' + data.ID + '" id="edit_' + data.ID + '" class="edit">Edit</a> | <a href="/Misc/DeleteUnit?id=' + data.ID + '" id="delete_' + data.ID + '" class="delete">Delete</a>'
                                    ]);

                                var theNode = unitTable.fnSettings().aoData[addId[0]].nTr;
                                theNode.setAttribute('id', 'unitRow\:' + data.ID);
                                var theCell = unitTable.fnSettings().aoData[addId[0]].nTr.cells[2];
                                theCell.className = "center"

                                showMessage('Unit added.');
                            }, "json");
                            $(this).dialog("close");
                        }
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () { }
            });
            $("form.form_left").dialog("open");
        });

        $('.edit').live('click', function (event) {
            event.preventDefault();
            var idstr = $(this).attr('id').split('_')[1];
            $.getJSON('/Misc/GetUnit', { 'id': idstr }, function (response) {
                $('#unitID').val(response.ID);
                $('#name').val(response.name);
                $('#code').val(response.code);

                $("form.form_left").dialog({
                    autoOpen: false,
                    height: 560,
                    width: 620,
                    title: "Edit Unit of Measure",
                    modal: true,
                    buttons: {
                        "Save": function () {
                            var id = $('#unitID').val();
                            var name = $('#name').val();
                            var code = $('#code').val();
                            var bValid = true;

                            if (bValid) {
                                $.post('/Misc/UpdateUnit', { 'id': id, 'name': name, 'code': code }, function (data) {
                                    // remove and re-add row to table
                                    unitTable.fnDeleteRow($('#unitRow\\:' + data.ID).get()[0]);
                                    var addId = unitTable.fnAddData([
                                        data.name,
                                        data.code,
                                        '<a href="/Misc/EditUnit?id=' + data.ID + '" id="edit_' + data.ID + '" class="edit">Edit</a> | <a href="/Misc/DeleteUnit?id=' + data.ID + '" id="delete_' + data.ID + '" class="delete">Delete</a>'
                                    ]);

                                    var theNode = unitTable.fnSettings().aoData[addId[0]].nTr;
                                    theNode.setAttribute('id', 'unitRow\:' + data.ID);
                                    var theCell = unitTable.fnSettings().aoData[addId[0]].nTr.cells[2];
                                    theCell.className = "center"

                                    showMessage('Type updated.');
                                }, "json");
                                $(this).dialog("close");
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function () { }
                });
                $("form.form_left").dialog("open");
            });

        });
        $('.delete').live('click', function (event) {
            event.preventDefault();
            var idstr = $(this).attr('id').split('_')[1];
            if (confirm("Are you sure you want to remove this Unit Of Measure?\r\nThis cannot be undone!")) {
                $.getJSON('/Misc/DeleteUnit', { 'id': idstr }, function (response) {
                    if ($.trim(response).length == 0) {
                        unitTable.fnDeleteRow($('#unitRow\\:' + idstr).get()[0]);
                        showMessage('Unit of Measure has been removed.');
                    } else {
                        showMessage('' + response);
                    }
                });
            }
        });

    });
</script>